.container{
    background-color: rgb(39, 172, 179);
    width: 40vw;
    height: 70vh;
    padding: 20px;
    border-radius: 10px;
}
form input{
    width: 70%;
    outline: none;
    border: none;
}
form input:hover{
    color: white;
    background-color: rgb(0, 0, 0);
}
form input , form button{
    margin-top: 30px;
    padding: 10px;
    display: block;
}

form button{
    color: white;
    background-color: rgb(59, 147, 153);
    cursor: pointer;
    border: none;
}
.info{
    margin-top: 40px;
}
.info div{
    margin-top: 35px;
    border-bottom: 1px solid rgb(226, 223, 223);
    color: white;
}

@media(max-width: 768px){
    .container{
        width: 60vw;
    }

}
@media(max-width: 425px){
    .container{
        width: 90vw;
    }
}